/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;/* light gray */
    color: rgb(255, 255, 255); /* softer than pure black */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}