
<main>
    <section class="background-section">
        <section class="login-section">
             <img src="assets/spotify_logo.svg" alt="Spotify Logo"/>
              <h1>Millions of Songs. Free on Spotify.</h1>

              <button class="signup-btn">Sign up free</button>
    <button class="google-btn">Continue with Google</button>
    <button class="facebook-btn">Continue with Facebook</button>
    <button class="apple-btn">Continue with Apple</button>

    <a class="login-link">Log in</a>
        </section>
    </section>
</main>
